<!DOCTYPE html>   
<html>
    <head>
       <meta charset="UTF-8">
       <title>ESViesnīca starptauisku saite </title>
       <link rel="stylesheet" href="../static/css/signup.css">
    </head>
    <body>
        <form action="Register">
            <h1 title="Form1" style="position: relative; text-align: center;">Regestration</h1>
            <div class="group">
                <label for="">Name</label>
                <input type="Name">
            </div>
            <div class="group">
                <label for="">Email</label>
                <input type="Email">
            </div>
            <div class="group">
                <label for="">Password</label>
                <input type="Password">
            </div>
            <div class="group">
                <label for="">Re:Password</label>
                <input type="Re:Password">
            </div>
            <div class="group">
                <center><a class="SignUP" href="main.html">Sign Up</a></center>
            </div>
        </form>
    </body>
</html>